CommonLib/CommonLib.v12.suo
CommonLib/CommonLib/obj/
CommonLib/CommonLibTest/obj/
CommonLib/CommonLibTest/bin/
CommonLib/CommonLib/bin/
CommonLib/.vs/CommonLib/v14/.suo
CommonLib/CommonLib/CommonLib.csproj.user
